<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.StringConex" connectionString="Server=tcp:ecoplastserver.database.windows.net,1433;Initial Catalog=BaseEcoplast;Persist Security Info=False;User ID=rrhh;Password=Ecoplast.2016;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
        <add name="DataAccess.Properties.Settings.StringConexAnviz" connectionString="Data Source=ecoplast.database.windows.net;Initial Catalog=Anziz;Persist Security Info=True;User ID=ecoplast;Password=ECO123456."
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.StringConexServer"
            connectionString="Data Source=ECOSVR001;Initial Catalog=Anziz;Persist Security Info=True;User ID=sa;Password=Ecoplast2016$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>